.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
}

.logo {
  height: 50px;
}

.navigation {
  font-size: 1rem;
  color: #333;
}
